@import '../../portalcat-variables';

.portalcat-pipeline {
  border: $border-width solid $border-color;
  min-width: 330px;

  &.disabled {
    background-color: $bg-color-light;
  }

  .pipeline-header {
    padding: $padding;
  }

  .pipeline-content {
    padding: $padding;

    .statusbar {
      border: $border-width solid $border-color-dark;
      padding: $padding / 2;
      display: flex;
      align-items: center;

      .status, .pipeline-control {
        font-size: 1.4rem;
      }

      .pipeline-control-scope {
        margin-left: auto;
      }

      label {
        margin-bottom: 0;
      }
    }
  }
}