@import '../../portalcat-variables';

.portalcat-action {
  display: flex;

  .action-controls {
    display: flex;
    align-items: center;
    flex: 1;
    border: $border-width solid $border-color;

    .controls {
      margin-left: auto;
      flex-shrink: 0;

      > * {
        margin: $padding / 2;
        height: auto;
        padding: 0;
      }
    }
  }

  .position-controls, .edit-controls {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: .6rem;
  }
}