.small-dialog .modal-dialog {
  max-width: 40% !important;
}

.medium-dialog .modal-dialog {
  max-width: 600px;
}

.small-dialog input {
  position: absolute;
  top: 11px;
  left: 6px;
}

.confirm-dialog-message {
  white-space: pre-line;
}
