.dynamic-utc-range-picker-container input.flatpickr-input {
  display: none;
}
.tooltip-content {
  position: fixed !important;
  min-width: 545px !important;
  width: 545px;
  height: 400px;
  top: 40% !important;
  left: 50% !important;
  margin-top: -178px;
  margin-left: -272px;
  box-shadow: -4px -3px 40px 1px #999 !important;
  padding-right: 15px !important;
  padding-left: 15px !important;
  background-color: white;
  z-index: 4;
}
