.ui.selection.dropdown {
  line-height: 16px;;
}

.url-scheme-selector .selection.dropdown {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.url-scheme-selector .url-host {
  border-bottom-right-radius: 0.25rem !important;
  border-top-right-radius: 0.25rem !important;
}

