@import '../../../../styles/colors.scss';

.tab{
  color: $color-black;
  background-color: $color-light-grey;
  border-top: 3px solid $color-light-grey;
  padding: 5px;
  font-size: 18px;
  &:hover{
    opacity: .8;
  }
  &.active{
    background-color: $color-white;
  }
}
