@import 'bootstrap/scss/mixins';
// @import 'bootstrap/scss/functions';
@import 'bootstrap/scss/variables';
@import './shared.scss';

.main-link {
  font-size: 17px;
  color: #464648;
  text-decoration: underline;
}
