@import 'bootstrap/scss/variables';
@import 'bootstrap/scss/mixins';
@import '../../../../../styles/colors.scss';

input, select {
  font-size: 14px;
}

.entity-manage {
  font-size: 12px;
  padding: 0 0 0 5px;
  margin: 5px;
}

.number-col {
  max-width: 60px;
}

.ui.selection.dropdown .menu.visible {
  min-width: 170px !important;
}
