@import 'bootstrap/scss/mixins';
// @import 'bootstrap/scss/functions';
@import 'bootstrap/scss/variables';

@import '../shared.scss';
@import '../../../styles/colors.scss';

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #858585;
}
::-moz-placeholder { /* Firefox 19+ */
  color: #858585;
}
:-moz-placeholder { /* Firefox 18- */
  color: #858585;
}

.back {
  margin: 0 auto;
}

.cancel-button {
 width: 100px;
}

@include media-breakpoint-up(xs) {
  .pts-landing-btn {
    margin-top: 10px;
    width: 100%;
  }
  .white-text {
    font-size: 10pt;
  }
  .top-buffer-1 {
    padding-top: 30px;
  }
}

@include media-breakpoint-up(sm) {
  .white-text {
    font-size: 15pt;
  }
}

@include media-breakpoint-up(md) {
  .pts-landing-btn {
    margin-top: 0;
    width: 70px;
  }
  .cancel-button {
    width: 100px;
  }
  .white-text {
    font-size: 15pt;
  }
  .top-buffer-1 {
    padding-top: 50px;
  }
}

@include media-breakpoint-down(sm) {
  .legal-container {
    font-size: 8pt;
  }
}

@include media-breakpoint-up(md) {
  .legal-container {
    font-size: 12pt;
  }
}
