.password-complexity .d-table {
  max-width: 668px;
  div.d-table-cell {
    position: relative;
  }
  div.d-table-cell {
    input, span {
      position: absolute;
    }
    input {
      top: 5px;
    }
    span {
      top: 2px;
      left: 20px;
    }
  }
}