@import '../../../styles/dragdrop.scss';

#companyContactInfo #company label {
  font-weight: bold;
}

a.download-button-link {
  color: inherit;
}

a.download-button-link:hover {
  color: inherit;
  text-decoration: none;
}

.language-combination-container:nth-child(odd) {
  border-color: $color-light-grey  !important;
}

.language-combination-container:nth-child(even) {
  border-color: $border-color  !important;
}

.language-combination-container.danger {
  border-color: $color-danger  !important;
}

::-webkit-scrollbar {
  width: 32px !important;
}

::-webkit-scrollbar-button {
  background: $border-color;
}

::-webkit-scrollbar-track-piece {
  background: $color-nearly-white;
}

::-webkit-scrollbar-thumb {
  background: $color-grey;
}

.download-all-target-files {
  cursor: pointer;
  text-decoration: underline;
}
.data-classification-error {
  color: #d9534f;
  display: block;
  margin-top: 5px;
}

.download-all-target-files {
  cursor: pointer;
  text-decoration: underline;
}