@import '../../../styles/colors.scss';

$template-base-font-size: 11pt;
$template-quote-details-width: 120px;
$template-lawlinguist-spa-quote-details-width: 135px;
$template-lawlinguist-ger-quote-details-width: 85px;
$template-lawlinguist-ita-quote-details-width: 110px;


@page {
  @bottom-right {
		font-family: 'Barlow Semi Condensed';
		font-weight: 400;
		font-size: 10pt;
		line-height: 14px;
		color: $template-smoky-color;
		margin-right: 32px;
  }
  @bottom-left {
    font-family: 'Barlow Semi Condensed';
		font-weight: 400;
		font-size: 10pt;
		line-height: 14px;
		color: $template-smoky-color;
		margin-left: 32px;
  }
}

#quote div.preview-document-footer-media {
	padding: 10px 0;
  font-family: 'Barlow Semi Condensed';
  font-weight: 400;
  font-size: 10pt;
  line-height: 14px;
  text-align: left;
  margin-left: 32px;
  color: $template-smoky-color;
}

div[data-e2e-type='template-field-custom-quoteNotes'] {
	.dropdown-toggle::after {
		display: none;
	}

	div.note-editor.note-frame > div.note-toolbar > div.note-btn-group.note-fontname > div > button {
		width: 126px;
		padding-left: 5px;
		padding-right: 0;
		text-align: left;
	}
}

#newQuote {
	pre,
	p,
	div {
		font-family: 'Barlow';
		color: $template-font-color;
	}

	color: $color-black;
	display: table;
	width: 100%;

	#page-header {
		display: table-header-group;
		.page-header-bar {
			height: 10pt;
			background-color: $color-reg-bigip;
		}
	}
	.header-container {
		display: flex;
		justify-content: space-between;
		margin: 32pt;
		div img {
			max-width: 200px;
		}
	}
	.quote-header {
		font-style: normal;
		font-family: 'Barlow';
		text-align: right;
	}
	.quote-header h4 {
		font-size: 24pt;
		margin: 0px 0px 14px 0px;
		line-height: 29px;
		font-weight: 600;
		text-align: right;
		font-family: 'Barlow';
	}
	.quote-header span {
		font-size: 18pt;
		line-height: 22px;
		font-weight: 400;
		font-family: 'Barlow';
		letter-spacing: -0.24pt;
	}
	.divTableHeader > div {
			background-color: $color-white;
	}
	.transaction-cost-details, .quote-details {
		background-color: $template-light-gray;
		border-radius: 6px;
		margin-bottom: 12pt;
		margin-left: 32pt;
		margin-right: 32pt;
		padding: 14pt 16pt;
		display: flex;
		flex-direction: column;
		font-style: normal;
		font-size: $template-base-font-size;
		font-weight: 500;
		line-height: 16pt;
	}
	.quote-address {
		display: flex;
		background-color: $template-light-gray;
		border-radius: 6px;
		margin-bottom: 12pt;
		padding: 14pt 16pt;
		font-size: 10pt;
		font-weight: 500;
		line-height: 16pt;
		letter-spacing: -0.24pt;
		margin-left: 32pt;
		margin-right: 32pt;
	}

	.quote-address div:first-child {
		text-align: left;
		white-space: nowrap;
		flex: 0 0 $template-quote-details-width;
	}

	&.lawlinguist-spa .quote-address div:first-child {
		flex: 0 0 $template-lawlinguist-spa-quote-details-width;	
	}

	&.lawlinguist-ger .quote-address div:first-child {
		flex: 0 0 $template-lawlinguist-ger-quote-details-width;	
	}

	&.lawlinguist-ita .quote-address div:first-child {
		flex: 0 0 $template-lawlinguist-ita-quote-details-width;	
	}

	.transaction-cost-details {
		font-weight: 400;
		margin-bottom: 24pt;

		h4 {
			font-size: $template-base-font-size;
			color: $template-smoky-color;
			font-weight: 500;
		}
		span {
			font-weight: 500;
		}
	}

	.quote-address div.quote-title,
	.quote-address span.quote-title  {
		font-family: 'Barlow Semi Condensed';
	}

	.quote-address div.quote-title,
	.quote-address span.quote-title  {
		color: $template-smoky-color;
		font-weight: 500;
		font-size: $template-base-font-size;
		line-height: 16pt;
	}
	.quote-address span {
		font-family: 'Barlow Semi Condensed';
	}
	.quote-address div.quote-address-details {
		flex: 1;
	}
	.quote-address div.quote-address-details span {
		font-family: 'Barlow';
		font-size: $template-base-font-size;
		font-weight: 400;
		line-height: 16pt;
		letter-spacing: -0.24pt;
		display: inline-block;
	}

	.quote-address {
		span.date,
		span.name,
		span.amount {
			font-weight: 400;
			font-family: 'Barlow';
			font-size: $template-base-font-size;
		}
	}

	.quote-address div.quote-address-details span.company {
		display: inline-block;
		padding: 6pt 0;
		font-weight: 500;
	}

	.quote-address div:nth-child(3) {
		div {
			padding-bottom: 6pt;
		}
		div:last-child {
			padding-bottom: 0;
		}
	}

	.quote-address div.quote-date {
		margin-left: auto;
		flex: none;
		font-weight: 400;
		font-family: 'Barlow';
		font-size: 11pt;
		div {
			padding: 6pt 0;
		}
	}

	.quote-details .quote-detail-item div.quote-title {
		font-family: 'Barlow Semi Condensed';
		font-style: normal;
		font-weight: 500;
		letter-spacing: 0;
	}
	.quote-details .quote-detail-item {
		display: flex;
		flex-direction: row;
	}
	.quote-details .quote-detail-item div.quote-title {
		padding-bottom: 6pt;
	}
	.quote-details .quote-detail-item:last-child div.quote-title {
		padding-bottom: 0;
	}
	.quote-details .quote-detail-item  div:nth-child(1) {
		flex: 0 0 $template-quote-details-width;
		white-space: nowrap;
		color: $template-smoky-color;
	}
	&.lawlinguist-spa .quote-details .quote-detail-item  div:nth-child(1) {
		flex: 0 0 $template-lawlinguist-spa-quote-details-width;
	}
	&.lawlinguist-ger .quote-details .quote-detail-item  div:nth-child(1) {
		flex: 0 0 $template-lawlinguist-ger-quote-details-width;
	}
	&.lawlinguist-ita .quote-details .quote-detail-item  div:nth-child(1) {
		flex: 0 0 $template-lawlinguist-ita-quote-details-width;
	}
	.quote-details .quote-detail-item  div:nth-child(2) {
		font-size: $template-base-font-size;
		font-weight: 400;
		font-family: 'Barlow';
		letter-spacing: -0.24pt;
		font-style: normal;
	}
	.quoteContainer {
		padding: 35px;
	}
	.validity-container {
		font-family: 'Barlow';
		letter-spacing: -0.24pt;
		text-align: right;
		font-weight: 400;
		font-size: $template-base-font-size;
		line-height: 16px;
		color: $template-smoky-color;
		margin: 24px 0;
		margin-right: 33pt;
	}
	.quote-services-container {
		font-family: 'Barlow';
		letter-spacing: -0.24pt;
		font-weight: 400;
		font-size: $template-base-font-size;
		line-height: 14pt;
		color: $color-black;
		margin-left: 32pt;
		margin-right: 32pt;
		margin-top: 16pt;
		
		&, h4 {
			margin-bottom: 8px;
		}

		h4 {
			font-family: 'Barlow Semi Condensed';
			font-weight: 600;
			color: $template-smoky-color;
			font-size: $template-base-font-size;
			text-transform: uppercase;
			letter-spacing: 0;
		}
		
		.quote-service {
			margin-bottom: 8px;
			font-size: 10pt;
			
			span {
				font-weight: 500;
			}
		}

		.quote-service:last-child {
			margin-bottom: 16pt;
		}
	}
	.divTable {
		display: table;
		margin-left: 32pt;
		margin-right: 32pt;
		width: 89.2%;
		font-size: $template-base-font-size;
	}
	.divTableTitle {
		display: block;
		width: 189.6%;
		padding: 8pt 0;
		font-weight: 500;
		font-size: $template-base-font-size;
	}
	.divTableRow .task-ability,
	.divTableRow .delivery-title {
		font-weight: 500;
		font-family: 'Barlow';
	}
	.divTableRow .task-description {
		font-weight: 400;
		font-family: 'Barlow';
		font-size: 10pt;
		color: $template-smoky-color;
	}
	.divTableRow .delivery-detail {
		font-size: 10pt;
		font-weight: 400;
		color: $template-smoky-color;
		
		span:last-child {
			font-weight: 500;
			color: $color-black;
		}
	}
	.divTableRow .divTableCell.delivery-option {
		.discounted {
			color: $template-smoky-color;
			font-size: 8pt;
			text-decoration-line: line-through;
			line-height: 14pt;
		}
		.amount {
			color: $color-black;
			font-size: $template-base-font-size;
			font-weight: 500;
			margin-top: -4pt;
			margin-bottom: -5pt;
		}
		.vat {
			font-size: 10pt;
			font-weight: 400;
			line-height: 14pt;
		}
	}
	.divTableRow {
		page-break-inside: avoid;
	}
	.divTableRow .divTableCell.subtotal {
		font-weight: 600;
	}
	div.dwl-thank-you,
	div.thank-you {
		text-align: right;
		padding-top: 12pt;
		color: $template-smoky-color;
		font-weight: 400;
		font-family: 'Barlow';
		letter-spacing: -0.24pt;
		font-size: $template-base-font-size;
		margin-right: 32pt;
	}
	div.dwl-thank-you {
		position: relative;
		margin-top: 39px;
	}
	div.terms,
	div.payment-details,
	div.notes-container {
		margin-top: 24pt;
		margin-left: 32pt;
		margin-right: 32pt;
		page-break-inside: avoid;
	}
	div.thank-you + div:first {
		margin-top: 50px;
	}
	div.terms h4,
	div.notes-container h4 {
		margin-bottom: 8pt;
		font-size: $template-base-font-size;
		font-weight: 600;
		line-height: 16px;
		color: $template-smoky-color;
		font-family: 'Barlow Semi Condensed';
	}
	div.notes-container > span {
		display: block;
	}
	div.notes-container span {
		font-size: 10pt;
		letter-spacing: -0.24pt;
		font-family: 'Barlow';
		line-height: 14pt;
	}
	div.terms p {
		font-size: 10pt;
		letter-spacing: -0.24pt;
		font-family: 'Barlow';
		line-height: 14pt;
		font-weight: 400;
	}
	div.notes-container > span span:first-child {
		font-weight: 500;
	}
	div.notes-container > span span:nth-child(2) {
		font-weight: 400;
	}
	th {
		background-color: $color-white;
		color: $template-smoky-color;
	}
	.divTable .divTableRow .divTableCell:nth-child(1) {
		width: 200px;
	}
	.divTable .divTableRow .divTableCell.abbr-cell {
		font-family: 'Barlow';
		width: 400px;
	}
	.divTable .divTableRow #uhg-item-col {
		width: 280pt;
	}
	.divTableBody .divTableRow .workflow-line-detail {
		div:nth-child(1) {
			font-size: $template-base-font-size;
			font-weight: 600;
			letter-spacing: -0.24pt;
			font-family: 'Barlow';
			line-height: 14pt;
			text-transform: uppercase;
			margin-bottom: 6px;
		}
		div:nth-child(2) {
			font-size: 10pt;
			font-weight: 400;
			letter-spacing: -0.24pt;
			font-family: 'Barlow';
			line-height: 14pt;

		}
		div:nth-child(3) {
			font-size: 10pt;
			font-weight: 400;
			letter-spacing: -0.24pt;
			font-family: 'Barlow';
			line-height: 14pt;
			color: $template-smoky-color;
		}
	}
	.divTableHeader {
		display: table-header-group;
	}
	.divTableHeader, .divTableRow, .divTableCell,
	.divTableTitle {
		border-bottom: 1px solid $color-periwinkle-gray !important;
	}
	.divTableBody .divTableRow {
		height: 39px;
	}
	.divTableBody .dwlTableRow {
		height: 65px;
	}
	.divTableBody .deliveryRow {
		height: 60px;

		.divTableCell:first-of-type {
			white-space: nowrap;
		}
	}
	.divTableBody .divTableRow.vatTotalRow,
	.divTableBody .divTableRow.subTotalRow {
		height: 35px;
	}
	.divTableBody .divTableRow:has(div.workflow-line-detail) {
		height: 62pt;
	}
	.divTableCell,
	.divTableHead {
		display: table-cell;
		padding: 3px 0px;
	}
	.rowHeader,
	.divTableHeader {
		.divTableCell:nth-child(1),
		.divTableCell:nth-child(2),
		.divTableCell:nth-child(3) {
			padding: 6pt 12pt 6pt 0pt;
		}

		.divTableCell:nth-child(4),
		.divTableCell:nth-child(5),
		.divTableCell:nth-child(6) {
			padding: 6pt 0pt 6pt 12pt;
		}

		.divTableCell:last-child {
			padding-right: 0;
		}
	}
	.divTableBody .divTableRow {
		.divTableCell:nth-child(1),
		.divTableCell:nth-child(2),
		.divTableCell:nth-child(3) {
			padding: 7pt 12pt 7pt 0pt;
		}

		.divTableCell:nth-child(4),
		.divTableCell:nth-child(5),
		.divTableCell:nth-child(6) {
			padding: 7pt 0pt 7pt 12pt;
		}

		.divTableCell:last-child {
			padding-right: 0;
		}
	}
	&.lawlinguist, &.lawlinguist-ger {
		.divTable .divTableRow .divTableCell:nth-child(1) {
			width: inherit;
		}
		.divTable div.divTableCell:not(:first-child) {
			white-space: nowrap;
			width: 1%;
			padding-left: 12pt;
		}
		.divTableBody .divTableRow,
		.divTableHeader {
			.divTableCell {
				padding-right: 0;
			}
		}
		.divTableHeader {
			.divTableCell:not(:first-child) {
				padding-left: 12pt;
			}
		}
	}
	.quote-table thead th,
	div.rowHeader .divTableCell,
	div.divTableHeader .divTableCell {
		font-family: 'Barlow Semi Condensed';
		color: $template-smoky-color;
		letter-spacing: 0;
		font-weight: 600;
		padding-bottom: 6px;
	}
	.divTotalRow .divTableCell {
		font-family: 'Barlow';
		letter-spacing: -0.24pt;
		font-weight: 600;
		font-size: $template-base-font-size;
		line-height: 16px;
		padding-top: 13px;
	}
	.divTotalRow	.currency {
		font-weight: 500;
	}
	.divTableRow .divTableCell,
	.divTotalRow .divTableCell {
		vertical-align: middle;
	}
	div.divTableCell {
		font-family: 'Barlow';
		letter-spacing: -0.24pt;
		font-weight: 400;
	}
	.divSubTotalRow:has(div) {
		background: $template-bg-ghost-white !important;
		border-bottom: 1px solid $color-periwinkle-gray !important;
	}
	.vatTotalRow:has(div),
	.subTotalRow:has(div) {
		background: $template-bg-ghost-white;
		position: absolute;
		height: 39px;
		width: 89.2%;
		display: flex;
		justify-content: flex-end;
		border-bottom: 1px solid $color-periwinkle-gray !important;
		& div {
			font-family: 'Barlow';
			letter-spacing: -0.24pt;
			font-weight: 600;
			padding: 7pt 0pt 7pt 12pt;
			font-size: $template-base-font-size;
			vertical-align: middle;
		}
		& div:nth-child(2) {
			font-weight: 400;

			&.currency {
				font-weight: 500;
			}

			&.visa-subtotal {
				padding: 7pt 0 7pt 0pt;
			}
		}
	}
	.vatTotalRow:has(div) {
		background: $color-white;
		padding-top: 13pt;
	}
	.divTableBody .dwlTableRow,
	.vatTotalRow:has(div) {
		.total {
			font-family: 'Barlow';
			letter-spacing: -0.24pt;
			font-weight: 500;
			font-size: $template-base-font-size;
			line-height: 16px;

			span {
				font-weight: 600;
				padding-right: 12pt;
			}
		}
	}
	.quote-total-column {
		width: 100px;
	}
	.clearSubTotalRow {
		position: relative;
		margin-top: 40px;
	}
	div.no-border,
	div.no-border .divTableCell {
		border: 0 !important;
	}
	div span.discount-description {
		position: relative;
		left: 55%;
	}
	div.payment-details {
		h4 {
			font-weight: 600;
			font-size: $template-base-font-size;
			line-height: 16px;
			color: $template-smoky-color;
			margin: 0;
			margin-bottom: 8px;
			font-family: 'Barlow Semi Condensed';
		}
		h4 ~ span {
			display: block;
			margin-bottom: 8px;
		}
		.payment-details-container {
			display: flex;
			justify-content: space-between;
			font-size: 10pt;
			letter-spacing: -0.24pt;
			line-height: 14px;
		}
		.payment-details-item {
			display: flex;
			flex-direction: column;
		}
		.payment-details-item h4 {
			font-weight: 600;
			font-size: 10pt;
			margin-bottom: 5px;
			font-family: 'Barlow';
			color: $color-black;
			letter-spacing: -0.24pt;
		}
		span,
		.payment-details-item span {
			font-weight: 400;
			font-family: 'Barlow';
			letter-spacing: -0.24pt;
			display: inline-block;
			font-size: 10pt;
		}
		.payment-details-item > span {
			padding-bottom: 6px;
			margin-bottom: 0;
		}
		span.bolder {
			font-weight: 600;
		}
		.payment-details-item span.bolder {
			font-weight: 500;
			font-family: 'Barlow';
			letter-spacing: -0.24pt;
		}
	}
	.description {
		font-family: 'Barlow';
		font-size: 11pt;
		font-weight: 400;
		line-height: 16px;
		letter-spacing: -0.02em;
		margin: 24pt 32pt;
		span {
			font-weight: 500;
		}
	}
	.deadline-container {
		font-weight: 400;
		font-family: 'Barlow';
		letter-spacing: -0.24pt;
		font-size: $template-base-font-size;
		margin-left: 32pt !important;
		margin-top: 16pt !important;
		margin-right: 32pt !important;
		line-height: 16pt;
		margin-bottom: 50vh;
		.note,
		.date span {
			font-weight: 500;
		}
		.date {
			margin-top: 6pt;
		}
	}

	.detail-container {
		font-weight: 400;
		font-family: 'Barlow';
		letter-spacing: -0.24pt;
		font-size: $template-base-font-size;
		margin-left: 32pt;
		margin-right: 32pt;
		line-height: 16pt;
		margin-top: 12pt;
		
		& * {
			font-size: $template-base-font-size !important;
		}
		
		.detail-item {
			margin-bottom: 26pt;
			
			h4 {
				font-weight: 600;
				margin-bottom: 10pt;
			}
			
			ul {
				padding-inline-start: 12pt;
				margin-bottom: 4pt;
			}
			p {
				margin-bottom: 6pt;
			}
			div {
				font-weight: 500;
			}
		}
	}
	.acceptance {
		font-weight: 400;
		font-family: 'Barlow';
		letter-spacing: -0.24pt;
		font-size: $template-base-font-size;
		margin-top: 32pt;
		margin-bottom: 16pt;
		margin-left: 32pt;
		margin-right: 32pt;
		line-height: 16pt;
		page-break-inside: avoid;
		
		h4 {
			font-size: $template-base-font-size;;
			font-family: 'Barlow Semi Condensed';
			font-weight: 600;
			margin-bottom: 16pt;
			text-transform: uppercase;
		}

		.signature {
			height: 130pt;
			border-radius: 6pt;
			padding: 16pt;
			color: $template-smoky-color;
			border: 1px solid $color-periwinkle-gray !important;
		}
	}
}

#newQuote.bigip {
	.divTableHeader {
		.divTableCell:nth-child(1),
		.divTableCell:nth-child(2){
			padding: 5px 12px 5px 0px;
		}
		.divTableCell:nth-child(1) {
			width: max-content;
		}
		.divTableCell:nth-child(2) {
			width: max-content;
		}
		.divTableCell:nth-child(3),
		.divTableCell:nth-child(4),
		.divTableCell:nth-child(5),
		.divTableCell:nth-child(6) {
			padding: 5px 0px 5px 12px;
			width: 1%;
		}
		.divTableCell:last-child {
			padding-right: 0;
		}
	}
	.divTableBody .divTableRow {
		.divTableCell:nth-child(1),
		.divTableCell:nth-child(2){
			padding: 5px 12px 5px 0px;
		}
		.divTableCell:nth-child(1) {
			width: max-content;
		}
		.divTableCell:nth-child(2) {
			width: max-content;
		}
		.divTableCell:nth-child(3),
		.divTableCell:nth-child(4),
		.divTableCell:nth-child(5),
		.divTableCell:nth-child(6) {
			padding: 5px 0px 5px 12px;
			width: 1%;
		}
	}
	.divTotalRow .divTableCell {
		padding-top: 13pt !important;
		font-weight: 600;
	}
	.quote-details {
		margin-bottom: 24pt;
	}
	.divTotalRow	.currency {
		font-weight: 400;
	}
}

@media print {
	#newQuote {
		.divTableTitle {
			width: 175%;
		}
	}
}