@import '../../../styles/colors.scss';

.request-provider-pooling-container .container-fluid .row {
  display: flex;
  align-items: center;
  margin-left: 0;
  margin-right: 0;
  padding: 5px 0;

  label {
    margin-bottom: 0;
  }
}

.has-error {
  color: #d9534f;
  position: absolute;
  padding: 3px;
}