@import 'bootstrap/scss/mixins';
// @import 'bootstrap/scss/functions';
@import 'bootstrap/scss/variables';

@import '../../styles/colors.scss';

.search-item-container {
  position: fixed;
  top: 10%;
  left: 20%;
  right: 25%;
  width: 60%;
}

.search-item {
  width: 100%;
}

.search-item.list-group {
  overflow-y: scroll;
  max-height: 361px;
}
  
.list-group-item {
  display: block;
}

small span {
  font-size: 90%;
  margin-right: 3px;
  padding: 3px;
  border-radius: 5px;
  background-color: lightgray;
}


.view-route-link:hover{
  background-color: $view-search-link-hover;
}

.view-route-link.active{
  background-color: $view-search-link-active;
}

@include media-breakpoint-down(xs) {
  .search-item-container {
    width: 70%;
    left: 15%;
  }
}