@import 'bootstrap/scss/mixins';
// // @import 'bootstrap/scss/functions';
@import 'bootstrap/scss/variables';
@import '../../styles/colors.scss';

.app-help-overlay > .container {
  margin-top: 5%;
  z-index: 200;
}

.app-help-content {
  background: white;
  z-index: 200;
  margin: 0 auto;
}

.app-help-content-container {
  margin-top: 10px;
}

.app-help-no-doc {
  margin-right: 40%;
}

.help-topic-link:hover {
  background-color: $color-warmer-blue;
  border-color: $color-warmer-blue;
  color: white;
}

.help-topic-link.active {
  background-color: $color-nearly-blue;
  border-color: $color-nearly-blue;
  color: white;
}

.app-help-loading {
  position: absolute;
  top: 45%;
  left: 50%;
  font-size: 30px;
  color: #3498db;
}

.editor-container {
  display: block;
}

.editor-container, .app-help-free-html {
  overflow: auto;
}

.app-help-main-container {
  margin: 25px auto;
}

.app-help-edit-buttons {
  padding-top: 10px;
  padding-bottom: 20px;
}

.app-help-search input {
  border: 1px solid #eceeef;
}

.app-help-list {
  min-height: 100%;
  background-color: white;
  padding: 10px;
  margin: 0 auto;
}

.app-help-topics {
  padding-top: 10px;
}

.app-help-search {
  margin-top: 10px;
}

@include media-breakpoint-down(xs) {
  .app-help-main-container {
    width: 70%;
  }

  .app-help-topics {
    max-height: 200px;
    overflow-y: scroll;
  }

  .app-help-topics li {
    display: inline-block;
    height: 40px;
  }
}