@media (min-width: 1280px) {
  .provider-task-bill-container {
    max-width: 400px;
  }
}

@media (min-width: 1366px) {
  .provider-task-bill-container {
    max-width: 600px;
  }
}

.bill-row {
  min-height: 73px;
}