.quantity-actions {
  /* hack to center the quantity action buttons*/
  margin-top: -3px;
}

.quantity-input {
  font-size: 100%;
}

.dropdown.icon {
  position: absolute !important;
  top: 5px !important;
  right: 10px !important;
}

.provider-task-unit {
  margin-top: 5px;
}