@import '../../../styles/colors.scss';

@media (min-width: 1280px) {
  .invoice-container {
    max-width: 450px;
  }
}

.invoice-container {
  border-right: 1px solid $color-grey;
  padding-right: 30px;
}

#workflows .read-only div {
  color: $color-text;
}

.invoiced div,
.invoiced input {
  color: $dark-yellow !important;
  font-style: italic;
}

.invoice-total {
  word-break: break-word;
}