@import 'bootstrap/scss/mixins';
// @import 'bootstrap/scss/functions';
@import 'bootstrap/scss/variables';
@import '../../../styles/colors.scss';

.task-ability-container {
  max-width: 134px;
}

.invoice-container {
  padding-right: 30px;
}

.projected-cost-container {
    padding-right: 30px;
}

@media (min-width: 1280px) {
  .workflow-provider-container {
    max-width: 165px;
  }
  .projected-cost-container {
    max-width: 350px;
  }
  .invoice-container {
    max-width: 450px;
  }
  .provider-task-bill-container {
    max-width: 400px;
  }
  .workflow-provider-tool-container {
    max-width: 210px;
  }
}

@media (min-width: 1366px) {
  .workflow-provider-container {
    max-width: 165px;
  }
  .projected-cost-container {
    max-width: 350px;
  }
  .workflow-provider-tool-container {
    max-width: 210px;
  }
  .provider-task-bill-container {
    max-width: 600px;
  }
}

@media (min-width: 1600px) {
  .workflow-provider-container {
    max-width: 165px;
  }
}

.workflow-language-container {
  padding-right: 0;
  max-width: 205px;
}

.header {
  font-size: 11px;
}

.header-detail {
  font-weight: normal;
  padding-top: 5px;
}

.header-title {
  border-bottom: 1px solid $header-border;
}

#select-all-workflows .d-inline input {
  position: absolute;
  top: 2px;
}
