@import '../../../styles/colors.scss';

textarea {
  margin-top: 7px;
  padding: 8px !important;
  height: 37px !important;
}

.task-ability-container {
  max-width: 125px;
}

.task-container {
  border-top: 1px solid $color-grey;
  padding-top: 12px !important;
  border-left: 2px solid transparent;
}


.task-included-in-group {
  border-left: 2px solid #0275d8;
}.task-ability-container .form-control {
  padding: 0.5rem 0.58rem;
}