@import '../../../styles/colors.scss';

.workflow-provider-container {
  max-width: 199px;
}
.workflow-provider-tool-container {
  max-width: 239px;
}

.button-active {
  color: $color-light-blue;
}

.button-error {
  border: 2px solid $color-red;
}

button.fa-file-text:disabled, button.fa-tasks:disabled {
  cursor: not-allowed;
}

.disabled-v-money {
  height: 24px;
  padding: 6px;
  background: none !important;
  border: 0;
}

// Control all fields padding
.transaction-row-container div[class^='col'] {
  padding-left: .4rem;
}

.border-left {
  border-left: 1px solid $border-color;
}

.memoq-analysis-import {
  .invoice {
    color: $color-blue;
  }

  .bill {
    color: $color-violet;
  }
}


.item[data-vss-custom-attr="provider-escalated"],
.provider-escalated {
  background-color: $color-light-yellow !important;
}

.shrink-container {
  display: inline-block;
  max-height: 3.6em;
  line-height: 1.2em;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding: 5px;
}
