@import '../../portalcat-variables';
@import '../../../../../styles/colors.scss';

.portalcat-resources {
  min-width: 15rem;

  .portalcat-resources-search-box {
    .search-box-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }

  .portalcat-resources-search-result {
    border: $border-width solid $border-color-light;
    padding: $padding;
  
    .search-match {
      color: #000;
  
      .apply-resource-btn {
        font-size: 1.5rem;
        border: $border-width solid $border-color-light;
        width: 1.875rem;
        height: 1.875rem;
        display: flex;
        align-items: center;
        justify-content: center;
        
        &:hover, &:focus {
          text-decoration: none;
        }
      }

      &.maximized {
        .source {
          color: $color-text;
        }
      }
    }
  
    .resource-info {
      .type {
        border: $border-width solid $border-color-light;
        padding: .1rem .5rem;
  
        &.mt {
          background-color: $bg-mt;
          color: #fff;
        }
  
        &.ht {
          background-color: $bg-ht;
        }
      }
  
      .info {
        font-size: .75rem;
        font-style: italic;
      }
    }
  }
}