label {
  font-weight: 700;
}

.input-group {
  display: inline-table;
}

.input-group input {
  margin: 0 auto;
  // Fixes an issue on password input from LAst pass extension showing multiple background icons
  background-repeat: no-repeat;
  width: 91%;
}

.input-group input + div {
  float: right;
  width: 24px;
  padding: 10px;
}

.invalid-text,
.not-typed-text {
  display: block;
  margin: 8px 0 8px 5px;
}

.not-typed-text span {
  display:block;
  margin-bottom:6px
}