@import '../../../../../styles/colors.scss';

.filter-container {
  margin: 5px 0;
  padding: 2px;
  font-size: 14px;
}

.filter-input {
  outline: 0;
  padding: 3px;
  width: 100%;
  border: 0;
}

.clear-btn {
  position: absolute;
  right: 0px;
  top: -2px;
  z-index: 3;
}

.clear-btn button,
.clear-btn button:focus  {
  background: none;
  border: none;
  width: 2px;
  height: 2px;
  margin: 1px 11px;
  color: $color-text;
}

.tooltip-target {
  position: relative;
}

.tooltip-content {
  min-width: 570px;
  top: 34px;
  left: -6px;
  background-color: #fff;
  padding: 5px;
  position: absolute;
  z-index: 11;
  box-shadow: 5px 5px 15px 1px #888888;
}
