.suggestion-dropdown {
  max-height: 300px;
  background: white;
  border: 1px solid #D4D4D4;
  border-radius: 4px;
  position: fixed;
  overflow-y: auto;
  z-index: 1000;
}

.loader-container {
  height: 36px;
  width: 36px;
}

.suggestion-text {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  padding: 4px;
}

.suggestion-group:not(:last-child) {
  border-bottom: 4px solid #ECEEEF;
}

.suggestion-text {
  cursor: pointer;
  padding: 10px 12px;
  color: #121212;
}

.suggestion-text-selected {
  background: rgba(228, 229, 231, 0.40);
}
