@import '../../styles/colors.scss';

.popover {
  position: absolute;
  background-color: $color-white;
  padding: 10px;
  border: 1px solid $color-grey;
  border-radius: 4px;
  opacity: 1 !important;
  box-shadow: 10 5px 6px rgba(0, 0, 0, 0.16);
  z-index: 99999 !important;
  top: 100%;
  left: 50%;
}