@import '../../../../styles/colors.scss';

.arrow-icon {
  font-size: 12px;
  font-weight: bold;
}

.header {
  display: flex;

  &-tabs {
    flex: 1;
  }

  &-controls {
    margin-top: 5px;
    display: flex;
    align-items: center;
  }
}

.language-selector,
.currency-selector {
  width: 200px;
  height: 60px;
  font-weight: normal;
}

.language-selector {
  margin-right: 15px;
}

.table {
  font-size: 14px;

  th {
    text-transform: uppercase;
  }

  tr:first-child {
    background-color: #fff;
  }

  .country {
    font-weight: bold;
  }

  .separator {
    border-right: 1px solid $color-black;
  }

  .subheader {
    td {
      text-transform: uppercase;
    }
  }
}

.ip-modal {
  span {
    font-weight: 400;
  }
}