$border-active: 1px solid #5cb3fd;
$border: 1px solid lightgrey;

.table-container {
  background: white;
  border: grey;
  max-height: 350px;
  overflow-y: auto;
}

.segments-table {
  border-spacing: 0px;
  border-collapse: unset;
}

.segment-selected td {
  border-top: $border-active;
  border-bottom: $border-active;
  color: black;
}

.cell {
  border: 1px solid lightgrey;
  padding: 8px;
}

.index-cell {
  color: black;
  background: grey;
  align-items: center;
}
