$color-light-purple: #836bb0;
$color-light-blue: #0074D9;
$color-light-grey: #f2f2f2;

#workflowAssignModal {
    user-select: none;
}

.segments-assign-modal{
  .segments-assign-modal-header{
    width: 100%;

    .segments-range{
      color: $color-light-purple;
    }
  }

  .segments-assign-modal-body{
    overflow-y: auto;
    height: calc(100vh - 260px);
  }
}

.workflow-assign-modal-actions i {
    cursor: pointer;
    font-size: 14px;
}

.workflow-assign-modal-segment-index {
    width: 50px;
    div {
        display: flex;
        justify-content: center;
    }
    i {
        font-size: 15px;
    }
}

.segment-index-selected {
    background: $color-light-purple;
    color: #fff;
}
.segment-row-selected {
    border: 2px solid $color-light-purple;
    border-left: none;
    border-right: none;
}

.workflow-assign-modal-segments {
    cursor: pointer;
    position: relative;
  &:nth-child(even) {
    background-color: $color-light-grey;
  }
}

.worfklow-assign-modal-segments-pop-up {
    position: absolute;
    left: 85px;
    z-index: 1000;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    margin-top: 30px;
    background: #fff;
    .segments-pop-up-calculate-per-word {
        .top {
            span {
                margin-right: 6px;
            }
        }
    }
    .segments-pop-up-calculate-per-word, .segments-pop-up-assign {
        cursor: default;
        padding: 10px 15px;
        .bottom {
            display: flex;
            justify-content: flex-end;
            span {
                cursor: pointer;
                font-size: 12px;
                color: $color-light-purple;
                text-transform: uppercase;
                font-weight: 600;
            }
        }
    }
  .segments-pop-up-options{
    div:first-child{
      border-bottom: 2px solid $color-light-grey;
    }
    div{
      padding: 10px 15px;
      cursor: pointer;
      &:hover{
        background-color: $color-light-purple;
        color: #fff;
      }
    }
  }
}

.assigning-segments-mode {
  justify-content: space-between;
  width: 100%;
  display: flex;

  div {
    align-items: center;
    display: flex;
  }

  span {
    margin-right: 8px;
  }

  i {
    font-size: 1.3rem;
    &.active{
      color: $color-light-blue;
    }
  }
}

.assigned-segemnt-icon{
  color: $color-light-blue;
}
