@import '../../../styles/colors.scss';
@import './ip-quote.scss';
.ip-wrapper {
  display: flex;
  justify-content: center;
    gap: 2rem;
  padding: 50px;
}

.ip-card {
  height: min-content;
  border-radius: 15px;
  background-color: #ffffff;
  box-shadow: 0 2px 6px 0 rgba(47, 83, 151, 0.1);

  &__wizard-header {
    width: 100%;
    position: relative;
    padding: 36px 30px 25px;
  }

  &__header {
    width: 100%;
    padding: 12px 30px;
    background-color: $color-celestial-blue;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;

    span {
      color: $color-white;
      font-size: 22px;
      letter-spacing: 0;
      line-height: 30px;
    }
  }

  &__divider {
    height: 1px;
    width: 100%;
    background-color: $alto;
  }

  &__body {
    padding: 20px 30px 26px;
  }

  &__detail {
    padding: 28px 30px 80px;
  }
}

.wizard-ip-card {
  width: 68%;
  max-width: 1040px;
}

.quote-details-card {
  width: 32%;
  max-width: 480px;
}

.body {
  &__header {
    color: $color-celestial-blue;
    font-size: 22px;
    letter-spacing: 0;
    line-height: 30px;
    margin-bottom: 0;
  }

  &__text {
    color: $tundora;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 23px;
    margin: 0;
  }

  &__tip {
    margin: 20px 0 0 0;
    padding: 0;
    color: $tundora;
    font-size: 14px;
    letter-spacing: 0;
    line-height: 21px;
  }

  &__controls {
    margin-top: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__label {
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 23px;
  }

  &__price {
    height: 66px;
    width: width 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }

  &__bullets {
    color: $tundora;
    font-size: 13px;
    letter-spacing: 0;
    line-height: 19px;

    p {
      padding: 0;
      margin: 0;
    }
  }
}

.ip-button-filled {
  display: flex;
  align-items: center;
  height: 32px;
  padding: 4px 40px;
  border-radius: 20px;
  background-color: $color-celestial-blue;
  color: #ffffff;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 16px;
  text-align: center;
  cursor: pointer;
  user-select: none;
  transition: background-color 0.25s;

  &:hover {
    background-color: #497c9c;
  }
}

.ip-disabled {
  cursor: not-allowed;
}

.ip-button-text {
  height: 32px;
  display: flex;
  align-items: center;
  color: $rolling-stone;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 1.25px;
  line-height: 16px;
  text-align: center;
  transition: color 0.25s;
  cursor: pointer;
  user-select: none;

  &:hover {
    color: $mid-gray;
  }

  span {
    margin-left: 32px;
  }
}

.disabled {
  cursor: not-allowed !important;
  pointer-events: none;
}

.detail {
  &__info {
    display: flex;
    align-items: flex-start;

    & .record:nth-child(2) {
      padding-left: 12px;
    }
  }
}

.patent-details {
  display: flex;
  align-items: center;
  margin-top: 20px;
  gap: 20px;

  .date-input,
  .ip-input {
    max-width: 313.33px;
    width: 31.98%;
  }
}

.record {
  width: 240px;
  max-width: 240px;
  word-break: break-word;
  color: #000000;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 21px;

  &-wide {
    width: 100%;
    max-width: 100%;
  }

  &__header {
    color: $rolling-stone;
    font-size: 14px;
    letter-spacing: 0;
    line-height: 21px;
  }
}

.record-wide {
  word-break: break-word;
  color: #000000;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 21px;

  &__header {
    color: $rolling-stone;
    font-size: 14px;
    letter-spacing: 0;
    line-height: 21px;
  }
}

.record-header {
  color: $color-celestial-blue;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 27px;
}

.counts-wrapper {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 24px;
  max-width: 980px;
  gap: 40px 20px;

  > .ip-input,
  > div.ip-field {
    max-width: 313.33px;
    width: 31.98%;
  }
}

.annuity-quotation-section {
  min-width: 212px;
  input {
    width: 18px;
    height: 18px;
  }
  label {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 14px;
  }
}

.label {
  &__primary {
    color: #000000;
    margin-left: 10px;
  }

  &__secondary {
    color: $rolling-stone;
  }
}

.instant-quote-container {
  position: relative;
}

.instant-quote-table-translation-only {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  table-layout: auto;

  th,
  td {
    height: 56px;
    font-size: 16px;

    &:last-child {
      min-width: 320px;
    }
  }

  th {
    color: #000000;
    font-weight: 600;
    letter-spacing: 0;
    line-height: 20px;
    text-align: right;
    background-color: inherit;

    &:first-child {
      text-align: left;
    }
  }

  td {
    color: $tuna;
    letter-spacing: 0;
    line-height: 20px;
    border-top: 1px solid $athens-gray;
    text-align: right;

    &:first-child {
      text-align: left;
    }

    >span {
      display: inline-block;
    }

    >.currency {
      width: 50px;
    }

    >.price {
      width: calc(100% - 60px);
      text-align: right;
    }
  }
}

.currency-switcher {
  width: 100px;
  margin-right: 12px;
}

.price {
  &__total {
    font-size: 16px;
    letter-spacing: 0;
    line-height: 20px;

    span:first-child {
      color: $tundora;
      font-weight: 500;
    }

    span:last-child {
      font-size: 17px;
      color: black;
      font-weight: bold;
    }
  }
}

.ip-field {
  &__help {
    position: relative;
    cursor: help;

    &:hover {
      .ip-tooltip {
        visibility: visible;
        opacity: 1;
      }
    }
  }
}

.remark {
  color: $tundora;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 23px;
  margin: 0;
  position: absolute;
  top: 4px;
}

.ip-tooltip {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  z-index: 2;
  top: 30px;
  background-color: #ffffff;
  border-radius: 5px;
  padding: 10px;
  box-shadow: 0 2px 6px 0 rgba(47, 83, 151, 0.1);
  color: $tundora;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 23px;
  margin: 0;

  transition: visibility 0s, opacity 0.4s linear;
}

.ip-modal-body {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  &-icon {
    height: 50px;
    width: 50px;
    font-family: 'Font Awesome 6 Free';
    font-size: 50px;
    letter-spacing: 0;
    line-height: 50px;
    text-align: center;

    &__success {
      color: $ocean-green;
    }

    &__warning {
      color: $ip-danger-color;
    }
  }

  &__controls {
    display: flex;
    margin-top: 30px;
  }

  &__success {
    color: $ocean-green;
  }

  &__warning {
    color: $ip-danger-color;
  }

  &__controls {
    display: flex;
    margin-top: 30px;
  }

  &__message {
    margin-top: 30px;
    color: $tundora;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 25px;
    text-align: center;
  }

  &__request {
    font-size: 18px !important;
    letter-spacing: 0;
    line-height: 21px;
    text-align: center;
    margin-top: 12px;

    :first-child {
      color: #000000;
    }

    :last-child {
      color: $color-celestial-blue;
    }
  }
}

.approve-modal-body {
  .ip-modal-body__controls {
    justify-content: space-between;

    .ip-button:first-child {
      width: 150px;
    }

    .ip-button:last-child {
      width: 278px;
    }
  }

  .ip-modal-body__subheader {
    width: 100%;
    font-size: 18px;
    color: $color-celestial-blue;
  }
}

.ip-button {
  width: 100%;
  border-radius: 25px;
  background-color: $color-celestial-blue;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.2s;
  user-select: none;
  cursor: pointer;

  color: #ffffff;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 16px;
  text-align: center;

  &:hover {
    background-color: $hippie-blue;
  }
}

.translation-and-filing-table {
  width: 100%;

  th,
  td {
    font-size: 16px;
  }

  th {
    color: #000000;
    font-weight: 600;
    letter-spacing: 0;
    line-height: 20px;
    height: 56px;
  }

  td {
    color: $tuna;
    letter-spacing: 0;
    line-height: 20px;
    border-top: 1px solid $athens-gray;
    height: 56px;

    span {
      display: inline-block;
    }

    .currency {
      width: 50px;
    }

    .price {
      width: calc(100% - 60px);
      text-align: right;
    }
  }

  .country-row {
    width: 30%;
  }

  .right {
    text-align: right;
  }

  .custom-quote-filing {
    display: inline-block;
    margin-left: -83px;
  }

  .custom {
    width: 100%;
    text-align: right;
    display: inline-block;
  }
}

table {
  tbody {
    tr {
      &:last-child {
        border-bottom: 1px solid $athens-gray;
      }
    }
  }
}

.order-detail-button {
  >div {
    height: 35px !important;
  }
}

.mt-custom-4 {
  margin-top: 2.25rem !important;
}

@media (max-width: 1366px) {
  .body__header {
    font-size: 18px;
  }

  .body__text {
    font-size: 14px;
  }

  .remark {
    font-size: 12px;
  }

  .body__tip {
    font-size: 12px;
  }

  .instant-quote-table {

    th,
    td {
      font-size: 14px;
    }
  }

  .instant-quote-table-translation-only {

    th,
    td {
      font-size: 14px;
    }
  }

  .translation-and-filing-table {

    th,
    td {
      font-size: 14px;
    }
  }

  .label__primary,
  .label__secondary {
    font-size: 12px;
  }
}