
.approve-disabled > .ip-button-filled {
  cursor: not-allowed;
  pointer-events: none;
  background-color: #A6ACBC;
}


.approve-disabled {
  position: relative;
  align-items: center;
  &:hover {
    .ip-tooltip {
      top: 40px;
      left: 50%;
      transform: translateX(-50%);
      visibility: visible;
      opacity: 1;
      width: 360px;
      box-shadow: 2px 0px 6px 0px #2F53971F;
    }
  }
}