@import './portalcat-variables';

@keyframes rotateSpinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.portalcat, .memory-editor {
  height: 100%;

  &.blur-loading-row::after {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 101;
  }

  &-pane-header {
    border: $border-width solid $border-color;
    background-color: $bg-color;
    padding: $padding;
  }

  .ui-set {
    height: 100%;
    display: flex;
    flex-direction: column;
  }

  ::-webkit-scrollbar {
    width: unset !important;
  }

  .fa.in-progress {
    animation-name: rotateSpinner;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
  }

  .type {
    display: inline-block;
    padding: ( $padding / 2 ) $padding;

    &-ht {
      background-color: $bg-ht;
    }
  
    &-rt {
      background-color: $bg-rt;
    }
  
    &-mt {
      background-color: $bg-mt;
      color: #fff;
    }
  }

  .status {
    &-confirmed-translator {
      color: $color-confirmed-translator;
    }
    &-confirmed-editor {
      color: $color-confirmed-editor;
    }
    &-confirmed-qa {
      color: $color-confirmed-qa;
    }
    &-locked {
      color: $color-locked;
    }
  }

  .ui-set-progress-bar {
    border: $border-width solid $border-color;
    background-color: $bg-color;
    padding: $padding / 2;

    .info-container {
      padding: $padding / 2;
      text-align: center;
      border: $border-width solid $border-color-dark;
      background-color: $bg-color-dark;
    }
  }

  .menubar {
    height: 100%;
    display: flex;

    .menubar-group {
      height: 100%;
      padding: ($padding / 2) $padding;

      &:not(:first-child) {
        border-left: $border-width solid $border-color;
      }
    }

    button.filter-on {
      border: 2px solid $border-color-dark;
    }
  }
}