@import '../../../../styles/colors.scss';

.table-container {
  background-color: $color-white;
  margin-bottom: 15px;

  .resources-info {
    display: grid;
    grid-template-columns: 0.2fr 0.8fr;
    gap: 0 0;
    line-height: 1.6;

    div:nth-of-type(even) {
      color: $color-darkred;
      font-style: italic;
    }
  }

  table {
    border: 1px solid $color-white;
    background-color: #F0F0FF;
    width: 100%;
    text-align: right;
    border-collapse: collapse;
  }

  td, th {
    border: 1px solid $color-white;
    padding: 3px 4px;
  }

  tbody {
    font-size: 13px;

    tr:nth-child(odd) {
      background-color: #F7F7FF;
    }

    tr:first-child {
      background-color: #F0F0FF;
    }

    td:first-child {
      text-align: left;
    }
  }

  thead {
    tr {
      background-color: #B8C6CF;
    }

    border-bottom: 2px solid $color-white;

    th {
      font-size: 15px;
      font-weight: bold;
      color: $color-black;
      text-align: right;
      border-left: 2px solid $color-white;
    }

    th:first-child {
      border-left: none;
      text-align: left;
    }
  }
}
