@import '../../../../../styles/colors.scss';

.ip-file-upload {
  font-size: 16px;
  width: 100%;
  text-align: center;
  padding-top: 24px;
  padding-bottom: 24px;
  border: 1px dashed $rolling-stone;
  border-radius: 4px;
  u {
    color: $color-celestial-blue;
    cursor: pointer;
  }
  &.drag-over{
    background-color: rgba(98, 164, 205, 0.5);
  }
}

.ip-danger-dotted {
  border-width: 2px !important;
}
@media (max-width: 1366px){
  .ip-file-upload {
    font-size: 14px;
    label {
      margin-bottom: 0;
    }
  }
}