@import 'bootstrap/scss/mixins';
// @import 'bootstrap/scss/functions';
@import 'bootstrap/scss/variables';

@import '../../../../styles/colors.scss';
@import '../../../../styles/password-form.scss';

h3 {
  font-size: 24px;
  font-weight: 200;
}

.change-password-main {
  height: 100%;
}

.change-password-centered {
  height: 100%;
}

.pts-panel-body {
    padding: 20px;
    position: relative;
}

@include media-breakpoint-down(xs) {
  a.btn {
    line-height: 30px !important;
  }
}

@include media-breakpoint-up(sm) {
  .change-password-main {
    width: 90%;
  }
}

@include media-breakpoint-up(md) {
  .change-password-main {
    width: 50%;
  }

  .input-group input {
    width: 94%;
  }
}
.change-password-centered > ::placeholder {
  font-size: .7em;
}