@import '../../../../styles/colors.scss';
  .body {
    &__header {
      color: $color-celestial-blue;
      font-size: 22px;
      letter-spacing: 0;
      line-height: 30px;
      margin-bottom: 0;
    }
    &__text {
      color: $tundora;
      font-size: 16px;
      font-weight: 500;
      letter-spacing: 0;
      line-height: 23px;
      margin: 0;
    }
    &__tip {
      margin: 20px 0 0 0;
      padding: 0;
      color: $tundora;
      font-size: 14px;
      letter-spacing: 0;
      line-height: 21px;
    }
    &__controls {
      margin-top: 100px;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    &__label {
      font-size: 16px;
      font-weight: 500;
      letter-spacing: 0;
      line-height: 23px;
    }
    &__price {
      height: 66px;
      width: width 100%;
      display: flex;
      align-items: center;
      justify-content: flex-end;
    }
    &__bullets {
      color: $tundora;
      font-size: 13px;
      letter-spacing: 0;
      line-height: 19px;
      max-width: 980px;
      p {
        padding: 0;
        margin: 0;
      }
    }
}
@media (max-width: 1366px){
  .body__header{
    font-size: 18px;
  }
  .body__text{
    font-size: 14px;
  }
  .body__tip{
    font-size: 12px;
  }
}