@import '../../../../styles/colors.scss';

.ip-popup {
  height: 30px;
  position: relative;
  outline: none;
  text-align: left;
  line-height: 30px;
  color: $color-celestial-blue;
  font-size: 16px;
  letter-spacing: 0;
  &__title {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 16px;
    border: 1px solid $color-celestial-blue;
    border-radius: 15px;
    background-color: $color-white;
    cursor: pointer;
    user-select: none;
    z-index: 3;
  }
  &__items {
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;
    overflow: hidden;
    padding-top: 36px;
    border-radius: 15px;
    background-color: $color-white;
    box-shadow: 0 2px 6px 0 rgba(47, 83, 151, 0.1);
    div {
      padding-left: 16px;
      cursor: pointer;
      user-select: none;
      z-index: 1;
      color: $tundora;
      border-bottom: 1px solid $alto;
      &:hover {
        background-color: $color-celestial-blue;
        color: $color-white;
      }
    }
  }
}

.danger-text {
  color: $ip-danger-color !important;
}

.fade-anim-enter-active,
.fade-anim-leave-active {
  transition: opacity 0.2s;
}
.fade-anim-enter,
.fade-anim-leave-to {
  opacity: 0;
}