@import '../../../../styles/colors.scss';

.checked-borders {
  border-color: $color-celestial-blue !important
}
.ip-radio-button {
  position: relative;
  border-radius: 4px;
  background-color: $color-white;
  font-size: 16px;
  color: $color-black;
  padding: 9px 14px;
  border: 1px solid rgba(0, 0, 0, 0.32);
  margin-bottom: 12px;
  cursor: pointer;
  transition: border-color 0.25s;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  display: inline-flex;

  input[type="radio"] {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    &:checked ~ .checkmark {
      background-color: $color-white;
    }
    &:checked ~ .checkmark:after {
      display: block;
    }
  }
  .checkmark {
    position: relative;
    top: 0;
    left: 0;
    height: 18px;
    width: 18px;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.32);
    &:after {
      content: "";
      position: absolute;
      display: none;
      top: 4px;
      left: 4px;
      width: 8px;
      height: 8px;
      border-radius: 50%;
      background: $color-warm-blue;
    }
  }
  &:hover input ~ .checkmark {
    background-color: $color-grey;
  }

  span {
    font-size: 16px;
  }
  @media (max-width: 1366px){
    span {
      font-size: 14px;
    }
  }
}