#progress-container {
  position: fixed;
  top: 12%;
  text-align: center;
  left: 50%;
  margin-left: -37vw;
  width: 75vw;
  z-index: 1020;
  color: rgb(106, 108, 111) !important;
  text-shadow: none !important;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#progress-container .cancel-upload-button {
  margin-bottom: 10px;
  color: #fff !important;
  text-shadow: none;
}

#progress-container * {
  color: rgb(106, 108, 111) !important;
  text-shadow: none !important;
}