@import '../../../../styles/dragdrop.scss';

.action-buttons {
  button {
    padding: 0 5px;
    height: 18px;
    line-height: 15px;
    margin-bottom: 2px;
  }
}

.action-buttons-read-only {
  margin-top: -23px !important;
}

.language-combination .row {
  position: relative;
}

.drop-zone-container .drop-zone {
  text-align: center !important;
  color: $color-text !important;
  text-shadow: none !important;
}

.drop-zone-container.drop-zone-dragging {
  display: block;
  top: 0px;
  left: 0px;
  position: absolute;
  z-index: 1;
  padding: 0;
  font-size: 50px;
  height: 100%;
  background-color: $request-drop-file-background-color;
  padding: 90px 0;
}

.language-combination.blur-loading {
  opacity: 1 !important;
}

.language-combination .description {
  color: $request-drag-description-color;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
  letter-spacing: -0.03em;
  padding-right: 34px;
}
