@import 'bootstrap/scss/mixins';
// // @import 'bootstrap/scss/functions';
@import 'bootstrap/scss/variables';
@import '../../../../styles/colors.scss';
@import './invoice-preview-pti.scss';

.pti .logo img {
  margin: 0 17px 0 0;
  width: 180px;
}

.row:first-child img {
  width: 180px;
}

#invoiceTemplate {
	.invoice-full-width {
		width: 100%;
	}
	.invoice-result-total {
		margin-right: 80px;
	}
	table {
		margin-bottom: 0 !important;
  }
  .table tr td {
    padding: 0.15rem 0.25rem 1rem 0.8rem;
  }
	.lsp-info {
		line-height: 1.3;
	}
	.lsp-logo {
		margin-top: -37px;
	}
	.billToDate {
		padding: 5px 5px 5px 15px !important;
		p:last-child {
			margin-bottom: 0;
		}
  }
	pre,
	p,
	div {
		font-family: "Helvetica", "Arial", normal !important;
		color: $template-font-color !important;
	}
	.print-prepare {
		position: relative;
		padding: 35px;
		background-color: #fff;
		.quoteTable {
			padding: 5px;
		}
	}
	.divTable {
		display: table;
		width: 100%;
	}
	.divTableRow {
		border: 0;
		display: table-row;
	}
	.divTableHeading {
		background-color: $color-grey;
		display: table-header-group;
	}
	#invoiceTemplate .divTableHeader .divTableCell {
		color: #0c547b !important;
	}
	.divTableCell,
	.divTableHead {
		display: table-cell;
		padding: 3px 6px;
	}
	.divTableHeading {
		background-color: #EEE;
		display: table-header-group;
		font-weight: bold;
	}
	.divTableFoot {
		background-color: $color-grey;
		display: table-footer-group;
		font-weight: bold;
	}
	.divTableBody {
		display: table-row-group;
	}
	.bordered .divTableCell {
		border-top: 1px solid $color-grey !important;
	}
	div.auto-width-table {
		display: table;
		width: 100%;
		table-layout: auto;
	}
	.middle-size-header {
		font-size: 16px;
		font-weight: bold;
	}
	.big-size-header {
		font-size: 21px;
  }
  .extra-big-size-header {
		font-size: 29px;
  }
  table th {
    line-height: 1px;
  }
	table th, .divTableHeader > .divTableCell {
		color: #0c547b !important;
	}
	table tbody {
		color: #2D292A;
  }
  .blue {
    color: #0c547b !important;
  }
	.local-header {
		color: #0c547b !important;
		font-weight: bold;
	}
	.horizontal-line {
		border-bottom: medium none;
		border-left: medium none;
		background-color: #cfdde7;
		height: 3px;
		color: #cfdde7;
		border-top: medium none;
		border-right: medium none;
	}
	.blue-light-bg {
		background-color: #cfdde7;
	}
}
