@import '../../styles/colors.scss';

.drop-zone-container {
  border: 1px dotted #DDD;
  min-height: 100px;
}

.drop-zone-container .drop-zone {
  color: #DDD !important;
  text-shadow: none !important;
}

.drop-zone-trigger {
  position: relative;
}

.drop-zone-container {
  display: flex;
  justify-content: center;
  background: transparent;
  z-index: 1;
  font-size: 50px;
}

.drop-zone-row {
  height: 100%;
}

.drop-zone-col {
  text-align: center;
}