@import '../../../../styles/colors.scss';

.patent-details {
  display: flex;
  align-items: center;
  margin-top: 20px;
  gap: 20px;

  .date-input,
  .ip-input {
    max-width: 313.33px;
    width: 31.98%;
  }
}

.counts-wrapper {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 24px;
  max-width: 980px;
  gap: 40px 20px;


  > .ip-input,
  > div.ip-field {
    max-width: 313.33px;
    width: 31.98%;
  }
}

.annuity-quotation-section {
  min-width: 212px;
  input {
    width: 18px;
    height: 18px;
  }
  label {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 14px;
  }
}

.ip-field {
  &__help {
    position: relative;
    cursor: help;
    &:hover {
      .ip-tooltip {
        visibility: visible;
        opacity: 1;
      }
    }
  }
}
.remark {
  color: $tundora;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 23px;
  margin: 0;
  position: absolute;
  top: 4px;
}

.ip-tooltip {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  z-index: 2;
  top: 30px;
  background-color: $color-white;
  border-radius: 5px;
  padding: 10px;
  box-shadow: 0 2px 6px 0 rgba(47, 83, 151, 0.1);
  color: $tundora;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 23px;
  margin: 0;
  transition: visibility 0s, opacity 0.4s linear;
}

@media screen and (max-width: 1366px) {
  .claims-translation-inputs {
    flex-direction: column;
    .ip-input, .date-input {
      width: 500px;
      max-width: 500px;
    }
  }
  .remark{
    font-size: 12px;;
  }
}