@import 'bootstrap/scss/mixins';
@import 'bootstrap/scss/variables';

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

li {
    min-height: 100%;
    float: left;
}

li.action-text {
  font-weight: 500;
  line-height: 1.25;
  padding: 10px 10px 0 0;
}


li.action-text div {
  vertical-align: unset;
}

li.action-text:hover {
  text-decoration: underline;
}

@include media-breakpoint-down(xs) {
  .grid-configuration-container ul {
    padding: 10px 0 10px 0;
  }
}