@import '../../../../styles/colors.scss';

.input-group-addon {
  cursor: pointer; 
}
.btn {
  display: flex;
}
.material-symbols-outlined {
  font-size: 17px;
}
.delete-button {
  font-size: 16px;
}
.input-group-addon:hover {
  background-color: $button-new-hover-background;
  color: $button-new-default-color;
  &.disabled {
    background-color: $button-new-darker-background;
    color: $color-text-darker;
    cursor: not-allowed;
  }
}
.input-group-addon {
  border-color: $button-new-default-border;
  background-color: $button-new-darker-background;
  padding: 6px 8px;
  color: $color-text-darker;
}
.add-button {
  color: $color-celestial-blue;
  background-color: $button-new-default-background;
  box-sizing: border-box;
  font-size: 14px;
  /* Auto layout */
  border: 1px solid $color-celestial-blue;
  font-weight: 500;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 8px 12px 8px 8px;
  gap: 4px;
  height: 36px;
  border-radius: 4px;
  line-height: 20px;
  flex: none;
  order: 4;
  flex-grow: 0
}
.add-button:hover {
  background: linear-gradient(0deg, rgba(64, 141, 202, 0.08), rgba(64, 141, 202, 0.08)), #FFFFFF;
}
.add-button:active {
  background: linear-gradient(0deg, rgba(64, 141, 202, 0.16), rgba(64, 141, 202, 0.16)), #FFFFFF;
}