@import '../../styles/colors.scss';

nav {
  background-color: $header-main-background !important;
  border-bottom: 1px solid $header-border;
}

.app-header {
  border-bottom: 1px solid $header-border;
}

nav button:focus {
  outline:none;
}

#header {
  margin-top: -6px;
}

.small-logout {
  background-color: $header-main-background;
  margin-top:0;
  padding: 10px;
  z-index: 5;
}

.small-logout span {
  display:block;
  height: 100%;
  margin: 0 auto;
  font-weight: 700;
  font-size:30px;
}

.toggle-span {
  padding-left: 0;
  margin-top: 7px;
  height: 56px;
  width: 62px;
}

.toggle-span > button {
  margin-top: 0px;
}

#logo {
  background-color: $header-background;
  text-align: center;
  max-width: 180px;
  flex: 0 0 180px;
  height: 56px;
}

#logo img {
  max-width: 160px;
  padding: 5px;
}

.no-logo {
  padding: 19px !important;
  height: auto !important;
}

.header-link {
  height: 56px;
  font-size: 14px;
  padding: 19px 26px 26px 26px;
  border: 1px solid $header-border;
  border-top: none;
  border-bottom: none;
  color: $header-icons-color;
  background: $header-background;
  cursor: pointer;
}

.header-link:hover {
  background: darken($color-bright,2%);
}
.header-right-section {
  max-width: 100%;
  flex: 1;
}

#clientLogo img  {
  height:40px;
  margin-top:5px;
}

.header-button,
li.header-button > button,
li.header-button > label {
  background-color: $header-main-background;
  border-left: 0;
  font-size: 20px;
  border-right: none;
  border-left: none;
  border-bottom: none;
}

li.header-button > button,
li.header-button > label {
  padding-top: 15px;
}

.mobile-logout {
  padding-right:0;
}

.mobile-logout button {
  background-color: $header-main-background;
  border-left: 0;
}

.small-logo {
  color: $color-navy-blue;
  font-size: 14px;
  font-weight: 800;
}

.no-right-padding {
  padding-right: 0px;
}
