@import 'vue-virtual-scroller/dist/vue-virtual-scroller.css';

.memory-editor-editor {
  min-width: 800px;
  height: 100%;
  display: flex;
  flex-direction: column;

  .scroller {
    flex: 1;
    min-height: 100%;

    .vue-recycle-scroller__item-view {
      z-index: 0;
      hover{
        z-index: 50;
      }
    }
  }
}
