.image-cropper-main-div {
  height: auto;
}

.image-cropper-main-div .container,
.image-cropper-main-div .container .row:first-child {
  padding: 0;
}

.logo-image-change-container {
  height: 100%;
}
