@import 'bootstrap/scss/mixins';
// @import 'bootstrap/scss/functions';
@import 'bootstrap/scss/variables';

@import '../../../styles/colors.scss';

.grid-configuration-container ul {
  display: flex;
  justify-content: flex-end;
}

.detail-container {
  padding: 0;
  font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 13px;
}

.inline-block {
  display: inline-block;
}

.inline-block > label {
  padding-right: 10px;
}

@-moz-document url-prefix() {
  .inline-block {
    vertical-align: middle;
  }

  .inline-block > label {
    margin-top: 8px;
  }
}

.pre-header {
  font-size: 13px;
  border-bottom: 0 !important;
}

.pre-header .link {
  cursor: pointer;
  color: $table-show-more-color;
}

.real-table-row {
  padding-left: 0;
  padding-right: 0;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
  border-top: 0 !important;
  border-bottom: 0 !important;
}

.pts-panel-body {
  overflow-y: auto;
}

ul.pagination {
  overflow-x: auto;
  max-width: 100%;
  margin-bottom: 0;
  z-index: 2;
}

ul.pagination li.page-item.active a {
  background-color: $color-nearly-blue;
}

ul.pagination li.page-item,
ul.pagination a.page-link  {
  height: 30px !important;
}

ul.pagination a {
  background: #fff;
}

ul.pagination a.page-link  {
  padding: 0.4rem 0.75rem;
  color: $color-text;
}

ul.pagination a.page-link  {
  outline: 0;
}

ul.pagination li.disabled a {
  background: $color-light-grey;
}

ul.pagination > li:not(.disabled) {
  cursor: pointer;
}

.pagination-nav-controls {
  padding-right: 15px;
}

.entries-container,
#selectEntries,
.header-item input,
.header-item select {
  padding: 5px;
  height: 30px;
  display: inline-block;
  line-height: 25px;
}

.entries-container {
  min-width: 65px;
}

#selectEntries {
  max-width: 75px;
  padding: 2px 6px;
  font-size: 14px;
  min-height: 30px;
}

#selectEntries input {
  display: none !important;
}

@include media-breakpoint-down(sm) {
  .search-container {
    margin-top: 20px;
  }

  .pagination-nav-controls {
    text-align: right;
  }
}

@include media-breakpoint-down(xs) {
  ul.pagination li.page-item,
  ul.pagination a.page-link {
    height: 44px;
    width: 75px;
  }
}

@include media-breakpoint-down(md) {
  #selectEntries {
    max-width: 80px;
  }

  .grid-features {
    flex-wrap: wrap;
  }

  .export-button {
    margin-top: 10px;
  }

  ul.pagination li.page-item {
    text-align: center;
  }
}
