@import '../../portalcat-variables';

.portalcat-editor-search {
  margin-bottom: $padding;
  
  .editor-search-header {
    border: $border-width solid $border-color;
    background-color: $bg-color-light;
    padding: ( $padding / 4 ) $padding;

    i {
      font-size: 18px;
    }
  }
  
  .editor-search-content {
    border: $border-width solid $border-color-light;
    padding: $padding ($padding / 2);

    .filter {
      button {
        font-size: .7rem;
        border: 1px solid $border-color-dark;

        &.active {
          font-size: .9rem;
        }
      }
    }

    .next-prev-controls {
      & > a {
        border: $border-width solid $border-color;

        & + a {
          margin-left: $padding / 2;
        }
      }
    }
  }
}