@import '../../editor-segment';
@import '../../portalcat-variables';

.editor-segment {
  .validation-container,
  .filename-container {
    background-color: $color-nearly-white;
    padding: $padding / 2;

    .validation {
      flex-shrink: 1;
      margin-right: $padding;
    }

    .ignore-container {
      margin-left: auto;
      flex-shrink: 0;
    }
  }
}
.highlight {
  background: $editor-segment-text-highlight
}

.vue-recycle-scroller__item-view:has(.showPopover) {
  z-index: 1 !important;
}

.vue-recycle-scroller__item-wrapper {
  overflow: visible !important;
}