@import '../../../styles/colors.scss';

.modal-header {
  .breadcrumb {
    background: $color-white;
  }

  .breadcrumb-item {
    color: $color-black !important;
    font-size: 16px;
    font-weight: 500;
  }

  .breadcrumb-item + .breadcrumb-item::before {
    color: #e2e2e2 !important;
    content: ">";
  }
}

.file-container div,
.analysis-option,
.language-combination-option {
  display: flex; 
  
  label {
    margin-bottom: 0;
    margin-left: 8px;
  }
}

#workflows .file-container input[type="checkbox"] {
  width: inherit;
}