@import '../../styles/colors.scss';

.provider-task-progress {
  border: 1px solid $border-color;
  height: 25px;
  position: relative;

  &-indicator {
    height: 100%;
  }

  &-percentage {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    text-align: center;
  }
}