@import '../../../styles/colors.scss';

.btn-grid {
  border-radius: 50%;
  color: white;
  font-size: 13px;
  padding: 2px;
  margin: 2px;
  width: 29px !important;
  height: 22px;
}

.btn-grid * {
  color: white;
}

.btn-grid:hover,
.btn-grid:hover * {
  cursor: pointer;
  color: white;
}

.btn-grid.disabled {
  background-color: $grid-btn-disabled;
}
a.btn.disabled,
.btn-grid.disabled i,
.btn-grid.disabled i:before  {
  cursor: not-allowed !important;
  pointer-events: auto;
}

.btn-grid.binoculars.blue {
  background-color: $color-nearly-blue;
}
