@import '../../styles/colors.scss';

.side-bar-chip {
  font-size: 9pt;
  border-radius: 15px;
  height: 18px;
  width: 18px;
  color: white;
  text-align: center;
}

.side-bar-chip-black {
  background-color: $color-navy-blue;
}

.side-bar-chip-orange {
  background-color: $color-orange;
}
