@import '../../../../styles/colors.scss';

.modal-actions{
  width: 100%;
}

.preview-container {
  .language-combination-container{
    background-color: $color-light-grey;
    padding: 15px;
    margin-bottom: 15px;
  }

  .statistics-info{
    font-size: 15px;
    color: $color-black;
    span{
      color: $color-darkred;
    }
  }
}

