@import '../../../../../styles/colors.scss';

.action-config-template-confirm-modal {
  .modal-dialog {
    width: 500px;
    top: 30%;
  }

  .modal {
    z-index: 1052;
  }
  .modal-backdrop {
    z-index: 1051;
  }
  .modal-header {
    display: none;
  }
  .modal-footer {
    border: none;
  }

  .modal-heading{
    font-size: 18px;
    color: $color-black;
    margin: 5px 0 15px;
    display: flex;
    justify-content: space-evenly;

    .warning-heading > div:last-child{
      font-size: 14px;
      letter-spacing: -0.42px;
    }
  }

  label{
    font-size: 13px;
    margin-bottom: 10px;
  }

  .action-button{

  }
}
