@import '../../styles/mixins';

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.2s;
}
.fade-enter,
.fade-leave-to {
  opacity: 0;
}
.collapse-icon {
  background-color: transparent;
  border: none;
  &:focus {
    outline: 0;
  }
}
.template-custom-field-label {
  @include font-family-default;
  font-style: normal;
  font-size: 18px;
  line-height: 25px;
}
.template-custom-field-line {
  height: 0;
  background-color: #d4d4d4;
}
.template-custom-fields-label-section {
  display: flex;
  align-items: center;
}
.template-custom-fields-save-changes {
  margin-left: 20px;
  label {
    margin-bottom: 0;
  }
}
.subtitle > h6 {
  font-weight: 500;
}