@import '../../../styles/colors.scss';

.drop-zone-trigger {
  position: relative;
}

.dropfiles-modal {
  display: none;
}

// use same colors as request dropzone
.dropfiles-modal.dropzone-dragging,.dropfiles-modal.dropzone-drag-over {
  display: block;
  top: 0px;
  left: 0px;
  display: block;
  position: absolute;
  height: 100%;
  width: 100%;
  font-size: 50px;
  border: 2px dotted $request-drop-file-color;
  background-color: $request-drop-file-background-color;
  opacity: 1;
  color: $request-drop-file-color;
}

.drop-zone-row {
  height: 100%;
}

.drop-zone-col {
  text-align: center;
}