$blue-color: #62a4cd;

.not-calculated {
  display: flex;
  align-items: center;
  flex-direction: column;

  .header {
    margin-top: 30px;
    text-align: center;
    color: #000;

    h3 {
      font-size: 2.1rem;
      font-weight: 550;
    }

    p {
      font-size: 18px;

      a {
        cursor: pointer;
        color: $blue-color;
      }
    }
  }

  .description {
    text-align: center;
    color: $blue-color;
    font-size: 16px;
  }

  .btn {
    border-radius: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
    cursor: pointer;
    border: 1px solid #aaabae;

    color: #aaabae;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 16px;
    text-align: center;
    padding: 5px 30px;
    transition: .3s;

    &:hover {
      border-color: $blue-color;
      color: $blue-color;
    }
  }
}
