@import '../../../styles/colors.scss';

.title {
  font-size: 16px!important;
  cursor: pointer!important;
}

.decline-select  {
  min-width: 200px;
  max-width: 250px;
}

.sub-title {
  border-bottom: 1px solid $template-bg-color-dark !important;
  font-weight: bold !important;
  cursor: not-allowed !important;
}
