@import 'bootstrap/scss/variables';
@import 'bootstrap/scss/mixins';

.action-message {
  white-space: pre-wrap;
}

.error-detail-btn {
  margin-top: -5px;
}

.stack-trace {
  max-height: 200px;
  overflow-y: auto;
}

.remove-icon {
  margin-top: 3px;
}

.hover-button:hover {
  font-weight: bold;
}

.undo {
  cursor: pointer;
  padding: 0px 5px;
}

.decline-notification {
  top: 10px;
    left: 25%;
    width: 50%;
    z-index: 15000;
    position: fixed;
}

@include media-breakpoint-down(xs) {
  .alert-danger {
    overflow: hidden;
  }

  .error-detail-btn {
    margin: 20px -10px 0 0;
  }
}

