@import '../../../styles/colors.scss';

.ui.dropdown {
  min-height: 14px !important;
}
.container {
  max-width: 400px;
}
.content-container {
  -webkit-text-size-adjust: 100%;
  position: relative;
  white-space: normal;
  outline: 0;
  min-height: 35px;
  display: block;
  width: 100%;
  z-index: 10;
}
.content {
  display: flex;
  flex-direction: column;
  -webkit-text-size-adjust: 100%;
  font-weight: normal;
  -webkit-tap-highlight-color: transparent;
  word-wrap: break-word;
  line-height: 1em;
  white-space: normal;
  position: absolute;
  top: 0px;
  padding: 8px;
  font-size: 1em;
  background-color: white;
  border: 1px solid $color-celestial-blue;
  z-index: 11;
  will-change: transform,opacity;
  left: 0;
  outline: 0;
  margin: 0 -1px;
  min-width: calc(100% + 2px);
  width: calc(100% + 2px);
  border-radius: 4px;
  transition: opacity .1s ease;
  overflow: hidden;
  backface-visibility: hidden;
  max-height: 200px;
  box-shadow: 0 2px 3px 0 $color-celestial-blue;
}
.text-container {
  flex-grow: 1;
  overflow-y: auto; 
}
.action {
  flex-grow: 0;
  padding-top: 5px;
  button {
    font-size: 13px!important;
    padding: 4px 6px;
  }
}
.eye-icon {
  cursor: pointer;
  margin-top: 4px;
}
.instructions-container {
  overflow: hidden;
}
.ellipsis {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
::-webkit-scrollbar {
  width: 10px !important;
}

::-webkit-scrollbar-button {
  background: $border-color;
}

::-webkit-scrollbar-track-piece {
  background: $color-nearly-white;
}

::-webkit-scrollbar-thumb {
  background: $color-grey;
}
