@import 'bootstrap/scss/mixins';
// @import 'bootstrap/scss/functions';
@import 'bootstrap/scss/variables';

@import '../shared.scss';
@import '../../../styles/colors.scss';

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #858585;
}
::-moz-placeholder { /* Firefox 19+ */
  color: #858585;
}
:-moz-placeholder { /* Firefox 18- */
  color: #858585;
}

.back {
  margin: 0 auto;
}

.center {
  margin: 0 auto;
}

.forgot-password .subtitle {
  margin: 25px auto;
}

.forgot-password .pts-landing-btn {
  width: 100%;
}

.buttons {
  padding: 25px 0;
}

.blur-loading div,
.blur-loading h4,
.blur-loading input  {
  color: transparent !important;
  text-shadow: 0 0 6px rgba(0,0,0,0.5);
}

@include media-breakpoint-down(xs) {
  .forgot-password .pts-landing-btn {
    line-height: 30px !important;
  }
}

@include media-breakpoint-up(xs) {
  .pts-landing-btn {
    margin-top: 10px;
    width: 100%;
  }

  .white-text {
    font-size: 10pt;
  }

  .top-buffer-1 {
    padding-top: 30px;
  }
}

@include media-breakpoint-up(sm) {
  .white-text {
    font-size: 15pt;
  }
}

@include media-breakpoint-up(md) {
  .pts-landing-btn {
    margin-top: 0;
    width: 70px;
  }
  .white-text {
    font-size: 15pt;
  }
  .top-buffer-1 {
    padding-top: 10px;
  }
}
